* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  color: white;
	background: linear-gradient(
		190deg,
		rgba(140, 69, 3, 1) 0%,
		rgba(252, 176, 69, 1) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: auto;
}
.content-collection a{
	text-decoration: none;
	color: white;
	font-style:italic;
	font-weight: bolder;
}
h1 {
	font-size: 3em;
	text-align: center;
}
h2 {
	text-align: center;
	width: 100%;
}
#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	left: 0 !important;
}
.menu__btn {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: black;
	transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: "";
	top: -8px;
}
.menu__btn > span::after {
	content: "";
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #eceff1;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	transition-duration: 0.25s;
}
.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: 0.25s;
}
.menu__item:hover {
	background-color: black;
}
.contact-content {
	color: white;
	background: linear-gradient(
		18deg,
		rgba(255, 176, 103, 1) 0%,
		rgba(255, 195, 111, 0.22452731092436973) 100%
	);
	width: 85%;
	display: flex;
	padding: 0 20px 0;
	margin: 0 20px 20px;
	border-radius: 10px;
	flex-direction: column;
	height: fit-content;
}
.contact-content p{
	text-align: center;
}
.content {
	color: white;
	background: linear-gradient(
		18deg,
		rgba(255, 176, 103, 1) 0%,
		rgba(255, 195, 111, 0.22452731092436973) 100%
	);
	width: 85%;
	display: flex;
	padding: 0 20px 0;
	margin: 0 20px 20px;
	border-radius: 10px;
	flex-direction: column;
	height: fit-content;
}
.content h1 {
	font-size: 15px;
}
.content p{
  text-align: justify;
}
.content img {
	width: 130px;
	height: 300px;
	border-radius: 10px;
	justify-content: center;
	margin: auto;
}
.text-content {
	display: flex;
}
.products-text-content {
	text-align: justify;
	font-size: 13px;
}
.text-content p {
	width: 180px;
	font-size: 15px;
}

.product-card {
	color: white;
	background: linear-gradient(
		18deg,
		rgba(255, 176, 103, 1) 0%,
		rgba(255, 195, 111, 0.22452731092436973) 100%
	);
	width: 95%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	flex-direction: column;
}
.product-card img {
	border-radius: 10px;
	width: 100px;
	margin: 0 30px 30px 0;
}
.products {
	display: flex;
	font-size: 1em;
}
.reference-card {
	color: white;
	text-align: center;
}
.reference-card img {
	border-radius: 10px;
}
.desktop-menu-box{
	display: none;
}
/* Desktop version */
@media (min-width: 1280px) {
	.hamburger-menu {
		display: none;
	}
	.page-title {
		position: fixed;
		font-size: 3em;
		top: 0;
		margin: 100px;
		z-index: 900;
		height: fit-content;
	}
	header{
		margin: 20px;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	.content-collection{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.services-collection{
		margin: 11rem;
	}
	.content{

		text-align: justify;
		font-size: 20px;
		padding: 5px;
		width: 1000px;
		height: fit-content;
		justify-content: center;
		align-items: center;
	}

	.content h2{
		font-size: 3rem;
		height: fit-content;
		width: fit-content;
		margin: 0;
	}
	.content img{
		height: 50vh;
		width: 20vw;
	}
	.contact-content{
		width: fit-content;
		font-size: 1em;
		margin: 11rem;
	}
	
	.text-content {
		display: flex;
		flex-direction: row;
	}
	
	.text-content p	{
		width:50%;
		flex-direction: row;
		text-align: justify;
		font-size: 1.1em;
		margin: auto;
	}
	.product-card {
		color: white;
		background: linear-gradient(
			18deg,
			rgba(255, 176, 103, 1) 0%,
			rgba(255, 195, 111, 0.22452731092436973) 100%
		);
		width: 600px;
		height: 510px;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		flex-direction: column;
		text-align: center;
	}
	.reference-card{
		flex-direction: row;
		margin: 10px;
	}
	.products-content{
		text-align: justify;
		font-size: 20px;
		padding: 0;
		width: 900px;
		height: 510px;
	}
	.products-text-content{
		width: fit-content;
		height: 510px;
		font-size: 17px;
	}
	.desktop-men-nav{
		margin: 0 100px 0;
		position: fixed;
	}
	.desktop-menu-box{
		background: rgb(176, 115, 58);
		box-shadow: black 0px 0px 5px;
		display: flex;
		flex-direction: row;
		list-style: none;
		border-radius: 10px;
		height: 50px;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}
	.desktop-menu-item {
		color: white;
		text-decoration: none;
		font-size: 2em;
		padding: 0 10px 0;
		transition:  ease-in-out 0.5s;

	}
	.desktop-menu-item:hover{
		transition: all ease-in-out 0.5s;
		color: black;
		font-size: 2.1em;
	}
}
